

#role-selector {
	select {
		border: 1px solid rgba(#fff, .3);
		border-radius: 5px;
		color: #fff;
		background: rgba(255,255,255,.2);
		display: inline-block;
		height: 34px;
		width: 280px;
		font-family: 'proxima-nova';
		font-weight: 900;
	}
}

#toolset {
	list-style: none;
	padding: 0;
	li {
		margin-bottom: 30px;
		display: inline-block;
		width: 140px;
		text-align: center;
		img {
			width: 65px;
			filter: grayscale(100%);
			opacity: .5;
			transition: .3s ease;
		}
		p {
			margin: 0;
			opacity: 0;
			transition: opacity .3s ease;
		}
		&:hover {
			img {
				opacity: 1;
				filter: grayscale(0);
			}
			p {
				opacity: 1;
			}
		}
	}
}