#contact {
	margin-bottom: 100px;
}

#social {
	list-style: none;
	padding: 0;
	margin-top: 30px;
	li {		
		text-align: center;
		display: inline-block;
		width: 140px;
		a {
			color: #fff;
			text-decoration: none;
			opacity: .2;
			transition: opacity .3s ease;
			&:hover {
				opacity: 1;
				p {
					opacity: 1;
				}
			}
		}
		i {
			font-size: 3em;
		}
		p {
			margin: 0;
			opacity: 0;
			transition: opacity .3s ease;
		}
	}
}
