#hello {
	margin-top: 50px;
}

#portrait {
	margin: 50px auto;
	border: 10px solid #fff;
	width: 320px;
	height: 320px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	img {
		position: absolute;
		width: 320px;
		height: 320px;
		opacity: 0;
	}
}

#portrait-caption {
	text-align: center;
	font-style: italic;
	opacity: .6;
}