$color-background: #C0392B;
$font-stack-main: 'proxima-nova', 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
$font-stack-heading: 'brandon-grotesque', 'helvetica neue', helvetica, sans-serif;
$color-main: #fff;